*{
    margin: 0;
    font-family: 'Noto sans', sans-serif;

}

.main-about{
    width: 100vw;
    height: 100vh;
}

nav{
    flex-direction: row;
    background: #000;
    padding: 15px;
}


a{
    text-decoration: none;
    color: #fff;
}

.main-about-me{
    background: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
